body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
}

header > img{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 8.64rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

}

fieldset{
    background-color: beige;
}

.forms{
    margin-bottom: 10px;
}

label{
    display: inline-block;
    width: 20%;
}

input {
    margin-right: 5%;
}

.buttom-container input{
    margin-right: 0;
}