* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

fieldset {
    background-color: whitesmoke;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;    
}

input[type="submit"]{
    margin-bottom: 1rem;
    border-radius: 10%;
}

input[type="reset"]{
    margin-bottom: 1rem;
    border-radius: 10%;
}

a {
    margin-right: 1rem;
}